
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/*Var*/
:root{
    --green:#2e7d4f;
    --black:#1a1a1a;
    --gray: #666;
    --light: #f5f5f5;
    --border: #ea0e0e;
}/*avoids repeat reset of color(const variable)*/
/*Base*/
*, *::before, *::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Inter', 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: var(--black);
    background: #fff;
    line-height: 1.6;
    max-width: 860px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}
/*Header*/
header{
    margin-bottom:2rem;
}
header h1{
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}
header p{
    color: var(--gray);
    font-size: 0.95rem;
    margin-top: 0.75rem;
}
hr{
    margin-top:1rem;
    border:none;
    border-top:1px solid var(--border);
}
/*Nav*/
nav{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    gap:0.1em;
}
nav a{
    color:var(--black);
    text-decoration: none;
    font-size: 0.9rem;
}
nav a:hover{
    background: var(light);
    color: var(--green);
}
/*pipe char no look good*/
nav a[href="achievements.html"]{color: var(--green)}
/*main*/
main section{
    margin-bottom:1.5rem;
}
main hr{
    border: none;
    border-top:1px solid var(--border);
    margin: 1.5rem 0;
}
ul{
    display: solid;
    color:green;
}